[flake8]
exclude = .git,__pycache__,docs,dist,venv,*_pb2.py,*_grpc.py,*.ipynb,*checkpoint.py
max-line-length = 120
ignore = W391, W503

# unused imports in __init__
per-file-ignores = __init__.py: F401